/*generali*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

img{
    width: 100%;
}

ul,
ol,
menu {
    list-style: none;
}


.col{
    flex-basis: calc((100% / 12 ) *2);
    
}


.debug{
    min-height: 300px;
    border: 1px solid red;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}


.align-center{
    align-items: center;
}

.footer-pd{
    padding: 10px;
}


.flex-end{
    display: flex;
    justify-content:flex-end ;
}

.sidebar{
    width:230px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: grey;
    padding: 20px;
}

.sidebar-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-content > *{
    line-height: 20px;
    font-size: 15px;
}

.thirth-item__sidebar{
    margin-bottom: 42px;
}

.first-item__sidebar{
    margin-bottom: 20px;
}

.second-item__sidebar{
    flex-grow: 1;
}

#home-cl{
    color: white;
}

.page-main{
    width: calc(100% - 230px);
    height: 100vh;
    flex-grow: 1;
    background-color: #141922;
    color: white;
    overflow: auto;

}

.toolbar{
    
    background-color:#282828 ;
}

.logo-lg{
    max-width: 134px;
    margin-bottom: 20px;
}

.logo-sm{
    display: none;
    margin-bottom: 20px;
}

.sidebar-content  li{
    padding: 5px 0;
}

.sidebar-content i{
    font-size: 20px;
    padding-right: 4px;
}

.second-item__sidebar i{ 
    background-color: #a3a3a3;
    padding: 5px;
    color: black;
}

.second-item__sidebar h4{
    color:white;
    margin-bottom: 10px;
    font-size: 16px;
}


.thirth-item__sidebar p{
    border-bottom: 1px solid grey;
    padding: 10px 0;
}

.install-app > i, p {
    color: #a3a3a3;
    font-size: 11px;
}


.name-user i{
    background-color: grey;
    padding: 5px;
    border-radius: 50%;
}


.thirth-item__sidebar h4{
    padding: 20px 0;
    color: white;
    font-size: 18px
}

/*main*/

.head-main{
    background-color: #080b12;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.head-main a{
    font-size: 14px;
    color: white;
    font-weight: 400;
    border: 1px solid white;
    padding: 10px 15px ;
    border-radius: 25px;
    text-decoration: none;
}

.category{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px 0;
}

.category-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.category-list li {
    padding: 8px 0px;
    font-weight: 700;
    font-size: 15px;
}

.category-list a{
    text-decoration: none;
    color: grey;
}

.create-for-john, .historycal-play, .popular-artist{
    padding: 20px;
}

.historycal-play h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

.historycal-image{
    padding-right: 20px;
}

.relative-img {
    position: relative;
}

.historycal-image__text{
    text-align: center;
    padding: 5px 0;
}

.historycal-image__text > * {
    padding: 5px 0;
}

.layer{
    font-size:50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

}


.border-img{
    border-radius: 50%;
}

.title__create-for-john > *{
    padding:5px 0;
}

.title__create-for-john{
    margin-bottom: 10px;
}

.title__popular-artist{
    margin-bottom: 10px;
}

.title__popular-artist > *{
    padding: 5px 0;
}

.popular-artist{
    margin-bottom: 60px;
}

/*toolbar*/

footer{
    position: sticky;
    bottom: 0 ;

}

.first{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.first img{
    width: 44px;
}

.first > * {
    padding: 0px 10px;
    font-size: 20px;
    color: white;
    opacity: 0.5;    
}

.col-footer ul{
    display: flex;
    color:#929292;
    font-size: 20px;
    
}

.col-footer ul > * {
    padding: 0 10px;

}

.first-footer-col{
    width: 20%;
}

.second-footer-col{
    width: 60%;
}

.thirth-footer-col{
    width: 20%;
    color: #929292;
}

.timing{
    height: 4px;
    border: 4px solid grey;
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.timing-listen{
    height: 4px;
    border: 4px solid white;
    width: 20%;border-radius: 10px;
    position: absolute;
    bottom: -4px;
    left: -4px;
}

.circle{
    color: white;
    background-color: white;
    width: max-content;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 150px;
    display: none;

}

.thirth-footer-col > * {
    padding: 10px;
}

.thirth-footer-col  i{
    font-size:20px ;
    padding: 0 10px;
}

.gg{
    flex-grow:1 ;
}

.timing-class > * {
    padding: 0px 5px;
}

.timing-class{
    display: flex;
    align-items: center;
}

.entity-play ul{
    margin-bottom: 14px;
}


/*hover*/

.head-main a:hover{
    scale: 1.1;
}

.category-list a:hover{
    color: white;
}

.first-item__sidebar li:hover{
    color: white;
}

.second-item__sidebar li:hover{
    color: white;
}

.second-item__sidebar i:hover{
    background-color: white;
}

.install-app:hover{
    color: white;
}

.timing:hover .timing-listen:hover{
    border-color: greenyellow;
}

.timing:hover .circle{
    display: block;
}

.first :hover{
    opacity: 1;
}


.enitiy-list__toolbar li:hover{
    color: white;
}

.thirth-footer-col i:hover{
    color: white;
}

.first p:hover{
    text-decoration: underline;
}

.historycal-image img:hover{
    background-color: black;
    opacity: 0.4;
}

.relative-img:hover .layer{
    opacity: 1;
}


.enitity-song {
    display: flex;
    gap: 10px;
 }

.thirth-footer-col i{
    padding: 0 5px;
}