/*generali*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

ul,
ol,
menu {
    list-style: none;
}


.col{
    flex-basis: calc((100% / 12 ) *2);
    
}


.debug{
    min-height: 300px;
    border: 1px solid red;
}


.container{
    max-width: 1440px;  
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}


.footer-pd{
    padding: 30px;
}


.flex-end{
    display: flex;
    justify-content:flex-end ;
}

.sidebar{
    width:230px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: white;
    padding: 20px;
}

.sidebar-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-content > *{
    padding: 10px 0;
}

.page-main{
    width: calc(100% - 230px);
    height: 100vh;
    flex-grow: 1;
    background-color: #141922;
    color: white;
    overflow: auto;

}

.toolbar{
    
    background-color:#282828 ;
}

.logo-spotify img{
    max-width: 134px;
}

.sidebar-content  li{
    padding: 5px 0;
}

.sidebar-content i{
    font-size: 20px;
    padding-right: 4px;
}

.second-item__sidebar i{ 
    background-color: #a3a3a3;
    padding: 5px;
    color: black;
}


.thirth-item__sidebar p{
    border-bottom: 1px solid grey;
    padding: 10px 0;
}

.install-app > i, p {
    color: #a3a3a3;
    font-size: 11px;
}

.name-user i{
    background-color: grey;
    padding: 5px;
    border-radius: 50%;
}


.thirth-item__sidebar h4{
    padding: 20px 0;
    font-size: 18px
}

/*main*/

.head-main{
    min-height: 80px;
    background-color: #080b12;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.head-main a{
    font-size: 14px;
    color: white;
    font-weight: 400;
    border: 1px solid white;
    padding: 10px 15px ;
    border-radius: 25px;
    text-decoration: none;
}

.category{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px 0;
}

.category-list{
    display: flex;
    margin-bottom: 30px;
}

.category-list li {
    padding: 0 8px;
    font-weight: 700;
    opacity: 0.5;
    font-size: 15px;
}

.create-for-john, .historycal-play, .popular-artist{
    padding: 20px;
}

.historycal-play h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

.historycal-image{
    padding-right: 20px;
}

.historycal-image__text{
    text-align: center;
    padding: 20px 0;
}


.border-img{
    border-radius: 50%;
}

.first > * {
    padding: 0px 10px;
    font-size: 20px;
    color: white;
    opacity: 0.5;    
}

.col-footer ul{
    display: flex;
    color: white;
    font-size: 20px;
    opacity: 0.5;
}

.col-footer ul > * {
    padding: 0 10px;

}

.first-footer-col{
    width: 20%;
}

.second-footer-col{
    width: 60%;
}

.thirth-footer-col{
    width: 20%;
}

.timing{
    height: 4px;
    border: 4px solid grey;
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.timing-listen{
    height: 4px;
    border: 4px solid white;
    width: 20%;border-radius: 10px;
    position: absolute;
    bottom: -4px;
    left: -4px;
}

.timing-class > * {
    padding: 0px 5px;
}

.timing-class{
    display: flex;
    align-items: center;
}